.ct-overlay {
	background: #0a0808b5;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

@keyframes popup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.ct-overlay .ct-popup {
    animation: popup 1s ease-in;
	animation: 2s;
}

.ct-popup {
	max-width: 1009px;
	height: 567px;
	background: #FFFFFF;
	border: 4px solid #C9A8FF;
	box-sizing: border-box;
	box-shadow: 0px 75px 120px rgba(40, 24, 86, 0.1);
	border-radius: 5px;
    width: 100%;
	position: relative;
}

div#ct-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 0;
    background: url("../img/close.png") no-repeat 50% 51% / 40%;
    border-radius: 50%;
    cursor: pointer;
}

.ct-popup-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-left: 90px;
	padding-right: 36px;
}

.ct-popup-pre-title {
	font-style: normal;
	font-weight: 500;
	color: #0E1871;
	margin-top: 0;
	margin-bottom: 5px;
}

.ct-popup-content .ct-popup-title {
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 71px;
	color: #0E1871;
	margin-top: 0;
}

.ct-popup-content h2:before {
    display: none;
}

.ct-popup-content .ct-popup-desc {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 42px;
	color: #454545;
}

.ct-popup-img {
	display: flex;
	align-items: flex-end;
	height: 100%;
}

.ct-popup-content {
	width: calc( 100% - 475px );
}

.ct-popup-content .ct-popup-button {
	width: 160px;
	height: 55px;
	background: #FFFFFF;
	border: 2px solid #8F54EE;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #0E1871;
	border-radius: 0;
}

.ct-popup-content .ct-popup-button:hover {
	color: #ffffff;
	background: #8F54EE;
}

@media only screen and (max-width: 960px) {
    .ct-popup {
        max-width: 500px;
        height: 300px;
    }
    .ct-popup-content .ct-popup-title {
        font-size: 32px;
    }
	.ct-popup-content .ct-popup-desc {
        font-size: 16px;
    }
	.ct-popup-content button {
        padding: 12px 15px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 414px) {
    .ct-popup {
        max-width: 250px;
        height: 300px;
    }
	.ct-popup-content .ct-popup-title {
        font-size: 22px;
    }
	.ct-popup-content .ct-popup-desc {
        font-size: 14px;
    }
	.ct-popup-content .ct-popup-button {
        padding: 8px 12px;
        font-size: 12px;
    }
}
